.about-btn {
    background-color: #CDFFAD;
    border: none;
    border-radius: 22px;
    color: #1c1c1c;
    cursor: pointer;
    font-weight: 400;
    padding: 10px;
}

.about-cont{
    margin-bottom: 10%;
}

.about-content{
    margin-left: 30%;
    width: 50%;
}

.about-title{
    font-family: "MyFont", sans-serif;
    font-size: 112px;
    margin-left: 15%;
}

@media screen and (max-width: 900px){
    .about-content{
        margin-right: 5%;
        width: fit-content;
    }
    .about-title{
        font-size: 3rem;
    }
    
}