.hero-cont{
    margin-bottom: 10%;
}

.hero-img{
    height: 534px;
    width: 100%;
}

.hero-text{
    align-self: center;
    display: flex;
    font-family: "MyFont", sans-serif;
    font-size: 112px;
    margin: 20px auto;
    max-width: 1240px;
    text-align: center;
    width: 90%;
    word-wrap: break-word;
}

@media screen and (min-width: 600px) and (max-width: 950px){
    .hero-text{
        font-size: 3.5rem;
        max-width: 70%;
    }
    
}

@media screen and (max-width: 599px){
    .hero-text{
        font-size: 2.5rem;
        max-width: 80%;
    }
    
}