.hero-cont{
    margin-bottom: 10%;
}

.hero-img{
    height: 534px;
    width: 100%;
}

.hero-text{
    align-self: center;
    display: flex;
    font-family: "MyFont", sans-serif;
    font-size: 4.5rem;
    margin: auto;
    max-width: 50%;
    text-align: center;
    width: 90%;
    word-wrap: break-word;
}

@media screen and (min-width: 600px) and (max-width: 950px){
    .hero-text{
        font-size: 3.5rem;
    }
    
}

@media screen and (max-width: 800px){
    .hero-text{
        font-size: 2rem;
        margin-bottom: 5%;
        max-width: 70%;
    }
    
}