.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
  
.navbar-heading {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    letter-spacing: 1%;
    font-weight: 700;
}
  
.nav-items {
    display: flex;
    gap: 15px;
}
  
.nav-items p {
    color: #D9D9D9;
    cursor: pointer;
    font-size: 15px;
}
  
.shop-now {
    background-color: #CDFFAD;
    border: none;
    border-radius: 22px;
    color: #1c1c1c;
    cursor: pointer;
    font-weight: 400;
    padding: 10px;
}