.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: relative;
  margin-bottom: 10px;
}

.navbar-heading {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-items p {
  color: #d9d9d9;
  cursor: pointer;
  font-size: 15px;
}

.shop-now {
  background-color: #cdffad;
  border: none;
  border-radius: 22px;
  color: #1c1c1c;
  cursor: pointer;
  font-weight: 400;
  padding: 10px;
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px 20px;
  }

  .nav-items,
  .shop-now {
    background: #f8f8f8;
    display: none;
    flex-direction: column;
    padding: 15px 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav-items {
    margin-top: 5%;
  }

  .nav-items p {
    color: #000000;
  }

  /* Show when menuOpen is true */
  .nav-items.show,
  .shop-now.show {
    display: flex;
  }

  .shop-now {
    border-radius: 0%;
    font-size: 17px;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
    .navbar {
    padding: 10px;
  }
}