.swiper-container::before {
    background: hsl(0, 0%, 11%);
    border-radius: 120%;
    content: "";
    height: 90px;
    left: 0;
    position: absolute;
    top: -8%;
    width: 100%;
    z-index: 100;
}
.curve_bottom {
    background: hsl(0, 0%, 11%);
    content: "";
    height: 80px;
    left: 0;
    position: absolute;
    bottom: 25px;
    width: 100%;
    z-index: 100;
}

.swiper-slide {
    height: 470px !important;
}

@media only screen and (max-width: 768px) {
    .swiper-slide {
        width: 100% !important;
    }
}