.swiper-container::before {
    background: #1c1c1c;
    border-radius: 100%;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: -10%;
    width: 120%;
    z-index: 100;
}