.swiper-container::before {
  background: #0a0a0a;
  border-radius: 120%;
  content: "";
  height: 90px;
  left: 0;
  position: absolute;
  top: -8%;
  width: 100%;
  z-index: 100;
}
.curve_bottom {
  background: #0a0a0a;
  content: "";
  height: 80px;
  left: 0;
  position: absolute;
  bottom: 25px;
  width: 100%;
  z-index: 100;
}

.swiper-slide {
  height: 470px !important;
}

@media only screen and (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;
  }
}
