@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "MyFont";
    src: url("./assets/fonts/first-class-demo.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Chango";
    src: url("./assets/fonts/Chango-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cinzel";
    src: url("./assets/fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input {
    height: 45px;
}

.input, select, textarea {
    padding: 24px 20px;
    border: 1px solid #595959;
    background-color: #2B2B2B;
    border-radius: 12px;
    width: 100%;
    color: white;
}

.cardInput {
    background-color: #1C1C1C;

}

img  {
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: #D9D9D9;
}

input[type="checkbox"] {
    width: 19px !important;
    height: 19px !important;
    padding: 0; /* or any other valid value like 4px */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active {
    background: #1C1C1C;
}

.pending {
    color: #FF9500;
}